{
  "extends": [
    "plugin:flowtype/recommended",
    "standard"
  ],
  "plugins": [
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "flowtype-errors/show-errors": "error"
  }
}
